@media (min-width: 575.98px){
    .photo-column {
        background-color: cornsilk;
        width: 100%;
        margin-top: 20px;
    }
}

@media (min-width: 767.98px){
    .photo-column {
        background-color: cornsilk;
        width: 100%;
        height: 900px;
        margin-top: 20px;
    }
}

@media (min-width: 991.98px){
    .photo-column {
        background-color: cornsilk;
        width: 100%;
        height: 900px;
        margin-top: 20px;
    }
}

#photo-gallery {
    background-color: coral;
    height: 900px;
}

.photo-sm {
    background-color: burlywood;
    width: 100%;
    height: 300px;
    margin-top: 20px;
    overflow: hidden;
}

.photo-big {
    background-color:blue;
    width: 100%;
    height: 400px;
    margin-top: 20px;
    overflow: hidden;
}

@media (min-width: 575.98px){
    .video {
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
}

@media (min-width: 767.98px){
    .video {
        margin-top: 20px;
        width: 100%;
        height: 500px;
    }
}

@media (min-width: 991.98px){
    .video {
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}
